<h1>Books</h1>

<table>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <td>タイトル</td>
      <td>ボディ</td>
      <td><%= link_to "仮Show"     %></td>
      <td><%= link_to "仮Edit"     %></td>
      <td><%= link_to "仮Destroy"     %></td>
    </tr>
</table>
